__pycache__/
*.py[cod]

.cache
.coverage
build
dist
*.egg-info
tmp/
htmlcov/
demodata/
.DS_Store
*.swp
.eggs
*.gfs
.venv
.direnv
var/cache
/collection
/specification
ssl.pem
var
.junitxml
pyrightconfig.json
