__pycache__/
*.py[cod]

.cache
.coverage
build
dist
*.egg-info
tmp/
htmlcov/
demodata/
.DS_Store
*.swp
.eggs
*.gfs
.venv
.direnv
/var/cache
/collection
/specification
ssl.pem
/var
.junitxml
pyrightconfig.json
.idea
.python-version


# don't store html build file for docs
/docs/_build
docs/digital_land*
docs/modules.rst
