__pycache__/
*.py[cod]

.cache
.coverage
build
dist
*.egg-info
tmp/
htmlcov/
demodata/
.DS_Store
*.swp
.eggs
*.gfs
.venv
.direnv
.envrc
var/cache

/collection
/specification

ssl.pem

var

.mypy_cache
pyrightconfig.json
